
* {
    margin: 0px;
   
  }
 


nav{
    width: 100%;  
    position: fixed;
    z-index: 1000;
    height: 8%;
    background: #4F6CB8;
    padding: 10px 20px;
  }

ul a {
  position: relative;
  list-style: none;
  display: inline-block;
  width: 180px;
  margin-top: 15px;
 text-decoration: none;
 color: white;
 font-family: Roboto;


}


ul a :hover{    
    color: #7e00a0;
    font-weight: 1000;   
  
}
ul{
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1000; 
    font-size: 25px;
    padding-right: 100px;
}

.ber{
    width: 100%;
    padding: 10px 20px;  
    text-align: right;
    box-sizing: border-box; 
    color: #fff;
    font-size: 30px;
    display: none;
}

section{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}



/*div.content{
  top: 55%;
  left: 50%;
  width: 50%;
  height: 70%;     
  position: absolute;    
  transform: translate(-50%, -50%);   
  background-color:white;
  padding: 2%;

}*/




html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
    font-size: 46px;
}


/*.mate {
  max-width: 65%;
  max-height: 50%;
  display: block;
  margin-left: 18%;
}*/

#home {
  background: green;
}

#section1{
  background: #F6BD60;
}

#section2{
  background: #F7EDE2;
}
#section3{
  background: #F5CAC3;
}
#section4{
  background: #84A59D;
}
#section5{
  background:   #F28482;

}


h1{
  text-align: center;
  color: black;
  padding: 8%;
}
img{
  height: 90px;
  width: 90px;
  overflow: hidden;
  position: absolute;
  left: 25px;
  top: -53px;
}

.leftside{
  position: relative;
  left: 100px;
}
.figure {
  position: relative;
  right: 100px;
}