
* {
    margin: 0px;
   
  }
 


nav{
    width: 100%;  
    position: fixed;
    z-index: 1000;
    height: 8%;
    background: #4F6CB8;
    padding: 10px 20px;
    margin: 0%;
  }

ul a {
  position: relative;
  list-style: none;
  display: inline-block;
  width: 180px;
  margin-top: 15px;
 text-decoration: none;
 color: white;
 font-family: Roboto;


}


ul a :hover{    
    color: #7e00a0;
    font-weight: 1000;   
  
}
ul{
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1000; 
    font-size: 25px;
    padding-right: 100px;
}

.ber{
    width: 100%;
    padding: 10px 20px;  
    text-align: right;
    box-sizing: border-box; 
    color: #fff;
    font-size: 30px;
    display: none;
}

section{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}



/*div.content{
  top: 55%;
  left: 50%;
  width: 50%;
  height: 70%;     
  position: absolute;    
  transform: translate(-50%, -50%);   
  background-color:white;
  padding: 2%;

}*/




html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
    font-size: 46px;
}


/*.mate {
  max-width: 65%;
  max-height: 50%;
  display: block;
  margin-left: 18%;
}*/

#home {
  background: #ffff;
}

#section1{
  background: #F6BD60;
}

#section2{
  background: #F7EDE2;
}
#section3{
  background: #F5CAC3;
}
#section4{
  background: #84A59D;
}
#section5{
  background:   #F28482;

}


h1{
  text-align: center;
  color: black;
  padding: 10% 0 0 0;
  
}
.logo{
  height: 90px;
  width: 90px;
  overflow: hidden;
  position: absolute;
  left: 25px;
  top: -53px;
}

/*.leftside{
  position: relative;
  left: 18%;
  top: 250px;
}*/
/*.figure {
  position: relative;
  right: 100px;
}*/

.wrapp {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  position: relative;
  bottom: 160px;
  height: 450px;
  width: 350px;
}
.wrapp1 {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  position: relative;
  bottom: 160px;
  height: 355px;
  width: 350px;
}




.container5_1{
  display: flex;
  flex-direction: row;

}
.wrapper-btn1{
  position: relative;
  left: 350px;
  bottom: 234px
}

.flow_chart5{
  position: relative;
  left: 32%;
  height: 70%;
top: 58px;
  
}

.wrapper-btn2{
  position: relative;
  left: 500px;
  bottom: 290px;
}
.wrapper-btn3{
  position: relative;
  left: 210px;
  line-height: 2;
  bottom: 144px;
}
.wrapp2{
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  position: relative;
  bottom: 950px;
  height: 450px;
  width: 355px;
  left: 75.7%;
}
.wrapp3{
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  position: relative;
  bottom: 959px;
  height: 355px;
  width: 350px;
  left: 76%;
}
@media(max-width: 1024px){


.flow_chart5{
  position: relative;
  display: flex;
  left: 26%;
  top: 153px;
  width: 300px;
  
}
.wrapper-btn3{
  position: relative;
    left: 210px;
    bottom: 165px;
    
}



.logo {
  height: 88px;
  width: 78px;
  left: 25px;
  top: -48px;
}

ul a{
  width: 132px;

}


}
@media(max-width: 768px){
  .wrapper-btn3{
  left: 110px;
  }
  .wrapper-btn1{
  left: 256px
  }
  .wrapper-btn2{
  left: 415px;
  }
  .flow_chart5{
    left: 22%;
    top: 123px;
  }
  ul a{
    width: 103px;
  
  }

  .logo{
  left: -18px;
}
ul{
  font-size: 17px;
}

}
@media(max-width: 425px){
  nav {
    width: 56.7%;
    background: none;
  }
.logo{
  position: relative;
  left: 35px;
  top: 0px;
}

ul a {
  width: 120px;
  position: relative;
  top: 104px;
  left: 60px;
  line-height: 1;
  font-size: 38px;
  background: rgba(0, 0, 0, 0.5);
  padding-right: 53px;
  padding-left: 10px;
  margin: 0;
}
.contant{
  top: 100px;


}
.flow_chart5 {
  left: 7%;
  top: 177px;
  height: 239px;
  width: 319px;
}
.wrapper-btn1 {
  left: 54px;
}

.wrapper-btn2 {
    left: 224px;
}
.wrapper-btn3 {
  left: 2px;
  top: -115px;
  line-height: 1;
}
}